/* Estilo geral da seção Sobre Nós */
.sobre-nos-section {
    font-family: 'Poppins', sans-serif;
    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 2rem;
}

/* Conteúdo principal */
.sobre-nos-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2rem;
    padding: 10rem;
}
.texto-principal {
    display: flex;
}
/* Título principal */
.texto-principal h1 {
    font-size: 1.5rem;
    color: #3c0e0e;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.texto-principal h2 {
    font-size: 3.8rem;
    color: #3c0e0e;
    font-family: 'Poppins', sans-serif;
    padding-right: 10rem;
    line-height: 1; /* Ajusta o espaçamento entre as linhas */
}

/* Texto descritivo */
.descricaoSobre p {
    color: #3c0e0e;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.descricaoSobre p strong {
    color: #3c0e0e;
    font-weight: bold;
}

.banner-sobre-nos-controle{
    display: flex;
    margin-bottom: 5rem;
}

/* Banner da seção */
.banner-sobre-nos1 {
    background: linear-gradient(180deg, #541511, #F3C7C4); /* Gradiente de cima para baixo */
    border-radius: 20px 0px 0px 20px;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.banner-sobre-nos2 {
    background: linear-gradient(200deg, #541511, #F3C7C4); /* Gradiente de cima para baixo */
    border-radius: 0px 20px 20px 0px;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


/* Conteúdo do banner */
.banner-contentSobre {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-right: 40rem;
    padding-left: 1rem;
}

/* Texto no banner */
.texto-bannerSobre h2 {
    font-size: 6rem;
    color: #ffffff;
    margin-bottom: 2rem;
    line-height: 1; /* Ajusta o espaçamento entre as linhas */
}

.texto-bannerSobre p {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.texto-bannerSobre h3 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
}

.texto-bannerSobre a {
    position: relative; /* Posiciona o botão acima da imagem */
    z-index: 1; /* Garante que o botão fique acima da imagem */
    display: inline-block;
    color: #3c0e0e;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

/* Imagem e endereço no banner */
.imagem-endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.imagem-bannerSobre{
    background-image: url('../../assets/velasepresentejuntos.png'); /* Defina o caminho da sua imagem */
    position: absolute; /* Permite posicionar livremente na tela */
    top: 30%; /* Distância do topo da tela */
    left: 55%; /* Distância da esquerda da tela */
    transform: translate(-57%, 250%); /* Centraliza o contêiner, ajustando o ponto de origem */
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    background-size: 60%; /* Reduz o tamanho da imagem para 50% do tamanho original */
    background-position: center; /* Centraliza a imagem dentro do contêiner */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    width: 60%; /* Ajuste conforme necessário */
    height: 100%; /* Ajuste conforme necessário */
}

.imagem-endereco .endereco h3 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 5rem;
}

.imagem-endereco .endereco h2 {
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 1rem;
}

.enderecoNome {
   display: flex;
}

.enderecoNome p {
    font-size: 1.3rem;
    color: #ffffff;
}

.iconLocation {
    width: 5rem; /* Define a largura */
    height: auto; /* Mantém a proporção da imagem */
    color: #ffffff;
}