/* Estilo geral da seção de velas */
.velas-section {
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center; /* Alinha horizontalmente ao centro */
    justify-content: center; /* Alinha verticalmente ao centro */
    font-family: 'Poppins', sans-serif;
}

/* Conteúdo principal */
.velas-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Responsivo para telas menores */
    gap: 2rem;
}

/* Texto principal */
.texto {
    max-width: 40rem;
    font-family: 'Poppins', sans-serif;  
}

.texto .preco {
    background-color: #fee6e6;
    color: #3c0e0e;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.texto h1 {
    font-size: 6rem;
    color: #3c0e0e;
    margin: 0;
}

.texto h2 {
    font-size: 3rem;
    color: #3c0e0e;
    font-weight: 400;
}

.texto .descricao {
    font-size: 1.3rem;
    color: #3c0e0e;
    margin-bottom: 1rem;
    padding-right: 20rem;
}

.texto .link-contato {
    position: relative; /* Posiciona o botão acima da imagem */
    z-index: 1; /* Garante que o botão fique acima da imagem */
    color: #3c0e0e;
    text-decoration: underline;
    font-size: 1rem;   
}

/* Imagem principal */
.imagem-vela img {
    max-width: 39rem;
    background-size: cover; /* A imagem cobre todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    
}

.banner-contentVelas {
    display: flex;           /* Define o layout flexível */
    justify-content: flex-end; /* Alinha os itens ao lado direito */
    align-items: flex-end;   /* Alinha os itens ao final no eixo cruzado (vertical) */
    gap: 2rem;               /* Define o espaço entre os itens */
    flex-wrap: wrap;         /* Permite que os itens "quebrem linha" se necessário */
    background: linear-gradient(10deg, #541511, #F3C7C4); /* Gradiente */
    border-radius: 50px;
    margin-top: 5rem;
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

/* Imagem no banner */
.imagem-banner {
    background-image: url('../../assets/Vela e presente.png'); /* Defina o caminho da sua imagem */
    position: absolute;  
    top: 1px; /* Distância do topo da tela */
    left: 1px; /* Distância da esquerda da tela */
    transform: translate(200px, 1598px); /* Centraliza o contêiner, ajustando o ponto de origem */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    width: 1000px; /* Ajuste conforme necessário */
    height: 1000px; /* Ajuste conforme necessário */
    background-size: 950px;
    padding: 2rem;
    background-position: center; /* Centraliza a imagem dentro do contêiner */
}

.texto-facaIcomendas {
    font-size: 3.5rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-left: 80rem;
    align-items: end;
    text-align: right;
    font-weight: 600;
}

.texto-bannerVelas {
    align-items: end;
    text-align: right
}

.texto-bannerVelas  p {
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
}

.botao-banner {
    position: relative; /* Posiciona o botão acima da imagem */
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 60px;
    padding: 0.9rem 3.5rem;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
    margin-bottom: 3rem;
}

.botao-banner:hover {
    background-color: #5a1a1a;
}

@media screen and (max-width: 1560px){
    .imagem-banner {
        transform: translate(50px, 1550px); /* Centraliza o contêiner, ajustando o ponto de origem */
        background-size: 650px;
    }
    .texto-facaIcomendas {
        padding-left: 20%;
    }    
    .banner-contentVelas {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

@media screen and (max-width: 1359px){
    .imagem-banner {
        transform: translate(0px, 1550px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 1359px){
    .imagem-banner {
        transform: translate(0px, 1550px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 1250px){
    .imagem-banner {
        transform: translate(-70px, 1510px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 1105px){
    .imagem-banner {
        transform: translate(-160px, 1510px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 1060px){
    .imagem-vela img {
        max-width: 30rem;
        
    }
    .texto {
        max-width: 60rem;
        font-family: 'Poppins', sans-serif;  
        margin-left: 10rem;
    }

    .velas-content {
        margin-top: 10rem;
    }

    .imagem-banner {
        transform: translate(-160px, 1890px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 1054px){
    .imagem-banner {
        transform: translate(-190px, 2440px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 900px){
    .imagem-banner {
        transform: translate(-200px, 2440px); /* Centraliza o contêiner, ajustando o ponto de origem */
    }

}

@media screen and (max-width: 866px){
    .imagem-banner {
        background-image: url('../../assets/Vela e presentse.png'); /* Defina o caminho da sua imagem */
    }

}


@media screen and (max-width: 450px){
    .imagem-vela img {
        max-width: 30rem;
        
    }
    .texto {
        margin-left: 3rem;
    }

    .velas-content {
        margin-top: 10rem;
    }

    .texto .descricao {
        padding-right: 0rem;
    }

    .texto .preco {
        font-size: 1.5rem;
    }
    
    .texto h1 {
        font-size: 6rem;
    }
    
    .texto h2 {
        font-size: 3rem;
    }
    
    .texto .descricao {
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 450px){

    .texto .preco {
        font-size: 1rem;
    }
    
    .texto h1 {
        font-size: 4rem;
    }
    
    .texto h2 {
        font-size: 2rem;
    }
    
    .texto .descricao {
        font-size: 1rem;
    }

}