@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.hero-container {
  position: absolute; /* Permite posicionar livremente na tela */
  top: 40%; /* Distância do topo da tela */
  left: 23%; /* Distância da esquerda da tela */
  transform: translate(-50%, -50%); /* Centraliza o contêiner, ajustando o ponto de origem */
  width: 20%; /* Ajuste a largura conforme necessário */
  height: 50vh; /* Ajuste a altura conforme necessário */
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}


.hero-container h1 {
  text-align: left; /* Alinhar o texto à esquerda */
  color: #3C0E0E; /* Exemplo de cor */
  margin: 0 0 1rem 0; /* Espaçamento entre os elementos */
  font-size: 24px;
}

.hero-container h2 {
  text-align: left; /* Alinhar o texto à esquerda */
  color: #3C0E0E; /* Exemplo de cor */
  margin: 0 0 1rem 0; /* Espaçamento entre os elementos */
  font-size: 80px;
  line-height: 1;
}

.hero-container h3 {
  text-align: left; /* Alinhar o texto à esquerda */
  color: #3C0E0E; /* Exemplo de cor */
  margin: 0 0 1rem 0; /* Espaçamento entre os elementos */
  font-size: 16px;
  font-weight: 400; /* Define o peso como normal */
}


.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Enviar a imagem para o fundo */
  filter: brightness(0.5); /* Escurece a imagem em 50% */
}


@keyframes glow {
  0% {
    box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px chartreuse, 0 0 4px chartreuse, 0 0 5px chartreuse;
  }
  50% {
    box-shadow: 0 0 2px #ffffff, 0 0 4px #ffffff, 0 0 6px chartreuse, 0 0 8px chartreuse, 0 0 10px chartreuse;
  }
  100% {
    box-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 3px chartreuse, 0 0 4px chartreuse, 0 0 5px chartreuse;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.homeLogoWhats { 
  width: 3vw; 
  height: auto; 
  margin-right: 0.5vw; 
  vertical-align: middle; 
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
  .homeLogoWhats { 
    width: 6vw; 
  }

}

@media (max-width: 768px) {
  .homeLogoWhats { 
    width: 6vw; 
  }


}

@media (max-width: 480px) {
  .homeLogoWhats { 
    width: 6vw; 
  }

}
